body{
    background-color: #F0FFB1;
}

header{
    color: #2D1644;
    background-color: #BAFF9C;
    margin: -8px -8px 0px -8px;
    height: 5em;
    text-align: center;
    vertical-align: bot;
    padding-top: 0.1em;
}

a:link{
    color: green;
    text-decoration: none;
}

a:visited{
    color: green;
    text-decoration: none;
}

a:hover{
    color: #DE2852;
    text-decoration: none;
}

a:active{
    color: green;
    text-decoration: none;
}


.start-div{
    text-align: center;
}

.start-button{
    margin-top: 2em;
    width: 15em;
    height: 4em;
    border: 0.1em black solid;
    border-radius: 0.2em;
    font-size: 16px;
    background-color: #BAFF9C;
}

.start-button:hover{
    background-color: transparent;
    cursor: pointer;
    transform: scale(1.01, 1.01)
}

.start-button:active{
    background-color: transparent;
    cursor: pointer;
    transform: scale(0.99, 0.99)
}

.settings-table{
    border: 0.01em solid black;
    text-align: left;
    margin: 0 auto;
    margin-top: 2em;
}

.instruction-div{
    width: 34.7em;
    text-align: justify;
    margin: 0 auto;
    margin-top: 2em;
}

table {
  border-collapse: collapse;
}

tr{
  border-bottom: 1px solid black;
}

.results-table{
    margin: 0 auto;
    width: 70em;
}

.calories-col{
    width: 10%;
    text-align: center;
}

.bzu-col{
    width: 10%;
    padding: 0em;
}

.genome-col{
    width: 35%;
}

.button-col{
    width: 20%;
}

.approve-button{
    margin-top: 2em;
    width: 6em;
    height: 2em;
    border: 0.1em black solid;
    border-radius: 0.2em;
    font-size: 16px;
    background-color: #BAFF9C;
    margin-top: auto;
    margin-bot: auto;
}

.approve-button:hover{
    background-color: transparent;
    cursor: pointer;
    transform: scale(1.01, 1.01)
}

.approve-button:active{
    background-color: transparent;
    cursor: pointer;
    transform: scale(0.99, 0.99)
}

.url-to-approved{
    margin: 0 auto;
}

